---
import Contactform from "../components/contactform.astro";
import Container from "../components/container.astro";
import Sectionhead from "../components/sectionhead.astro";
import Layout from "../layouts/Layout.astro";
import { Icon } from "astro-icon/components";
---

<Layout title="Contact">
  <Container>
    <Sectionhead>
      <Fragment slot="title">للتواصل</Fragment>
      <Fragment slot="desc">الرجاء تعبئة النموذج للتواصل معنا.</Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-2 gap-10 mx-auto max-w-4xl mt-16">
      <div>
        <h2 class="font-medium text-2xl text-gray-800">العنوان</h2>
        
        <div class="mt-5">
          <div class="flex items-center mt-2 space-x-2 text-gray-600">
           
            <span>قطنا بجانب ثانوية البعث</span>
          </div><div class="flex items-center mt-2 space-x-2 text-gray-600">
           <a
              href="contact@qatanacharity.com"
              >هاتف: 6891460</a
            >
          </div><div class="flex items-center mt-2 space-x-2 text-gray-600">
           
          </div>
        </div>
      </div>
      <div>
        <Contactform />
      </div>
    </div>
  </Container>
</Layout>
