---

import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="Welcome to Astro">
	<main class=" px-24 max-sm-5 max-w-7xl mx-auto w-full">
		
		<h1 class="font-mono md:sans-serif 	text-center text-2xl lg:text-[5rem] lg:leading-[6rem] text-teal-900 font-semibold mb-5">جمعيةالبر والتعليم الإسلامي في قطنا </h1>
		<p class="text-zinc-900 text-2xl text-center lg:text-[2rem] mb-24 break-words line-clamp-3 lg:line-clamp-none max-sm:mb-14">الجمعية تهدف لتقديم أفضل الخدمات للجميع </p>
		<hr class="w-full border border-teal-900 mb-16 max-sm:mb-10">
		<div class="flex justify-center items-center pt-12">
		
		</div>
	</main>
	
</Layout>
