---

import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="Welcome to Astro">
	<main class=" px-24 max-sm-5 max-w-7xl mx-auto w-full">
		<h1 class="font-mono md:font-serif 	text-center text-4xl text-teal-900 font-bold mb-5">جمعية البر والتعليم الإسلامي في قطنا </h1>
		<p class="text-zinc-900 text-2xl text-center mb-24 max-sm:mb-14">الجمعية تهدف لتقديم أفضل الخدمات للجميع </p>
		<hr class="w-full border border-teal-900 mb-16 max-sm:mb-10">
	</main>
	
</Layout>
