---
import { getCollection } from "astro:content";
import { Picture } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import Container from "../components/container.astro";
import Sectionhead from "../components/sectionhead.astro";

// Filter team entries with 'draft: false' & date before current date
const publishedTeamMembers = await getCollection("team", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});
---

<Layout title="المركز الطبي">
  <Container>
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 lg:gap-[7rem] lg:pt-5 text-center lg:text-left max-w-[1024px] mx-auto">
  		<div class="flex flex-col lg:flex lg:flex-row items-center relative z-0">
  		  <div>
				<h1 class="font-mono md:sans-serif 	text-center text-2xl lg:text-[4rem] lg:leading-[6rem] text-teal-900 font-semibold mb-5">جمعيةالبر والتعليم الإسلامي في قطنا </h1>
  				
					
  		  </div>
  		  
  		</div>
  		<div class="order-first lg:order-last">
	  		<img class="lg:hidden mb-9" src="/ee.png">
	  		<img class="hidden lg:block" src="/ee.png" alt="Hero">
  		</div>
		</div>
  </Container>
</Layout>
