---
import Navbar from "../components/navbar/navbar.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="en" dir="auto">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>جمعية البر -قطنا</title>
	</head>
	<body class="min-h-screen grid grid-rows-[auto,1fr,auto] bg-transparent bg-green-200">
		<Navbar />
		<slot />
		<Footer />
	</body>
</html>

